.button {
  border: none;
  border-radius: 6px;
  cursor: pointer;

  font-size: var(--font-size-md);
  padding: var(--spacing-sm) var(--spacing-md);

  background: transparent;
}

/* Visual variants */
.primary {
  background-color: var(--color-positive);
  color: white;
}

.secondary {
  background-color: var(--color-neutral);
  color: white;
}

/* Size variants */
.sm {
  font-size: var(--font-size-sm);
  padding: var(--spacing-xs) var(--spacing-sm);
}

.md {
  font-size: var(--font-size-md);
}
